In [1]:
import pandas as pd

In [2]:
bikes_df=pd.read_csv("london.csv")

In [3]:
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
bikes_df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [6]:
bikes_df.shape

(17414, 10)

In [7]:
bikes_df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [8]:
bikes_df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [11]:
new_cols_dict={
    "timestamp":"time",
    "cnt":"count",
    "t1":"temp_real_C",
    "t2":"temp_feels_like_C",
    "hum":"humidity_percent",
    "wind_speed":"wind_speed_kph",
    "weather_code": "weather",
    "is_holiday":"is_holiday",
    "is_weekend":"is_weekend",
    "season":"season"
}

# Renaming the cols as per more technically understandable

bikes_df.rename(new_cols_dict, axis=1,inplace=True)
bikes_df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [12]:
bikes_df.humidity_percent=bikes_df.humidity_percent/100

In [14]:
#Creating a season dictionary so that we can map the integers 0-3 to the actual written values

season_dict={
    "0.0":"spring",
    "1.0":"summer",
    "2.0":"autumn",
    "3.0":"winter"
}

#Creating a weather dictionary so that we can map the integers 0-3 to the actual written values

weather_dict={
    "1.0":"clear",
    "2.0":"scattered clouds",
    "3.0":"broken clouds",
    "4.0":"cloudy",
    "7.0":"rain",
    "10.0":"rain with thunder storm",
    "26.0":"snowfall"
}

#changing the season & weather type to string and mapping the corrssponding values:

bikes_df.season=bikes_df.season.astype('str')
bikes_df.season=bikes_df.season.map(season_dict)

bikes_df.weather=bikes_df.weather.astype('str')
bikes_df.weather=bikes_df.weather.map(weather_dict)

In [15]:
bikes_df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [17]:
#Writing the final dataframe to an excel that we will use in our tableau visualization.

bikes_df.to_excel('london_bikes_final.xlsx',sheet_name='Data')